.contenedor_1{
    background-image: url(../img/bgHeader.png);
    background-size: cover;
    height: 68vh;
    display: flex;
    justify-content: center;
    background-position: center -109px;
    align-items: center;
}

.titulo_1{
    color: #ff8940;
    font-size: 70px;
    margin: 0;
}

.texto_1{
    font-size: 30px;
}

.boton_1{
    background-color: #ff8940;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    padding: 15px 35px;
    

   
}

.todo_1{
    text-align: center;
    
}


.contenedor_2{
    display: flex;
    justify-content: center;

}

.titulo_2{
    color: #ff8940;
    font-size: 40px;
}

.texto_2{
    font-size: 25px;
    width: 850px;
    
}


.imagen_2{
    margin-left: 100px;
    margin-top: 20px;
}

.boton_2{
    background-color: #ff8940;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    padding: 15px 35px;
}




.contenedor_3{
    display: flex;
    justify-content: center;
    margin: 100px;

}
.texto_3{
    width: 450px;
    font-size: 25px;
}

.titulo_3{
    color: #ff8940;
    margin-top: 100px;
    font-size: 39px;
    width: 450px;
}

.imagen_3{
    margin-right: 100px;
    margin-top: 100px;
}


.boton_3{
    background-color: #ff8940;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    padding: 15px 35px;
}

.contenedor_4{
    background-image: url(../img/bgDown.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    background-position: center right;
    align-items: center;
    padding: 100px 40px;
}

.boton_4{
    background-color: #ff8940;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    padding: 15px 35px;
}

.texto_4{
    font-size: 30px;
    width: 670px;
}
.titulo_4{
    color: #ff8940;
    font-size: 50px;
}

.todo_4{
    margin-right: 600px;
}

.todo_5{
    display: flex;
}

.contenedor_5{
    background-color: #ff8940;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    padding: 50px;
     
}




.contenedor_6{
    background-color: #ff8940;
    color: white;
    justify-content: center;
    font-size: 12px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    box-shadow: 0 -4px 6px rgb(0,0,0,0.2);
}

@media (max-width:1279px){
   .contenedor_1{
    height: 46vh;
   }

    .titulo_2{
        font-size: 32px;
    }

    .texto_2{
        font-size: 18px;
        width: 450px;
    }

    .imagen_2{
        margin-left: 4px;

    }
    
    .todo_2{
        margin-top: 90px;
    }

    .boton_1{
        margin-bottom: 100px;
        padding: 14px 20px;
        font-size: 15px;
    }

    .titulo_3{
        width: 450px;
    }

    .texto_3{
        width: 450px;
        font-size: 20px;
        margin-right: -20px;
    }

    .imagen_3{
        margin-right: 10px;
    }

    .titulo_4{
        margin-left: 101px;
        font-size: 25px;
    }

    .boton_4{
            margin-left: 108px;
            font-size: 11px;
    }

    .texto_4{
        font-size: 15px;
    width: 357px;
    margin-left: 98px;
    }

    .contenedor_4{
        height: 47hv;
        padding: 0px;
    }

    }
    @media (max-width:920px){
        .titulo_2{
        font-size: 21px;
        margin-left: 0px;
        }

        .texto_2{
        font-size: 14px;
        width: 310px;
        }

        .titulo_3{
        margin-top: 100px;
        font-size: 27px;
        }

        .texto_3{
        width: 349px;
        font-size: 13px;
        margin-right: -17px;
        }

        .imagen_3{
                    margin-right: 10px;
        margin-left: 124px;
        }

        .titulo_4{
        margin-left: 201px;
        font-size: 23px;
        }
        .texto_4{
        font-size: 13px;
        width: 300px;
        margin-left: 185px;
        }

        .boton_4{
        margin-left: 184px;
        }
    }

     @media (max-width:768px){
        body{
            margin: 0;
            padding: 0;
        }

        .titulo_1{
            font-size: 36px;
        }

        .texto_1{
            font-size: 15px;
        }

        .imagen_2{
        margin-left: 4px;
        height: auto;
        max-width: 50%;
        }

        .titulo_2{
        font-size: 16px;
        margin-left: 2px;
        }

        .texto_2{
                    font-size: 13px;
        width: 219px;
        }

        .imagen_3{
        margin-left: 131px;
        height: 300px;
        max-width: 60%;
        }

        .titulo_3{
            margin-top: 100px;
        font-size: 20px;
        }

        .texto_3{
            width: 314px;
        font-size: 12px;
        }

        .boton_3{
            font-size: 11px;
        }


        .contenedor_4{
                height: 32vh;
        }

        .titulo_4{
        margin-left: 315px;
        font-size: 13px;
        }


        .texto_4{
        font-size: 13px;
        width: 251px;
        margin-left: 318px;
        }


        .boton_4{
            margin-left: 318px;
        }

        .todo_4{
            margin-right: 531px;
        }

        .todo_5{
                margin-left: -72px;
        }
     }

     @media (max-width:480px){
         body{
            margin: 0;
            padding: 0;
        }

        .contenedor_2{
            flex-direction: column;
            align-items: center;
        }

        .boton_2{
            font-size: 10px;
             margin-left: 57px;
        }

        .texto_2{
            width: 250px;
        }

        .contenedor_3{
            display: flex;
            flex-direction: column;
        }

        .imagen_3{
        margin-left: 0px;
        height: 236px;
        width: 184px;
        }
     }

    

    
